html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.redbox {
  width: 100%;
  background-color: #e7001d;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  height: 9em;
}

nav {
  background-color: #222222;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  width: 50%;
}

nav a {
  display: block;
  padding: 0.5em 0.75em;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  border: 1px solid black;
}

nav a:hover {
  background-color: #e7001d;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.dragon {
  background-color: #e4c22a;
  width: 100%;
}

.goat {
  background-color: black;
  width: 100%;
}

.rooster {
  background-color: #e7001d;
  width: 100%;
}

.ox {
  background-color: #e4c22a;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 1.5em;
}

.footer {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.75em;
}

.medallion {
  width: 6em;
  left: 35%;
  position: absolute;
  display: block;
}

.symbols {
  color: white;
  font-size: 2.5em;
  text-align: center;
}
