html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.redbox {
  width: 100%;
  background-color: #e7001d;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  text-align: center;
}

nav {
  background-color: #222222;
  text-align: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  width: 50%;
}

nav a {
  display: block;
  padding: 0.5em 0.75em;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  border: 1px solid black;
}

nav a:hover {
  background-color: #e7001d;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.dragon {
  background-color: #e4c22a;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.goat {
  background-color: black;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.rooster {
  background-color: #e7001d;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.ox {
  background-color: #e4c22a;
  width: 100%;
  padding: 20px;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 1.5em;
}

.footer {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.75em;
  text-decoration: underline;
}

.medallion {
  width: 6em;
}

.symbols {
  color: white;
  font-size: 3em;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0%;
  top: 8%;
  text-shadow: 2px 2px black;
}

.title {
  color: white;
  font-size: 1em;
  position: absolute;
  width: 100%;
  left: 0%;
  top: 65%;
  text-shadow: 2px 2px black;
}

.banner {
  text-align: center;
  position: relative;
}

.banner-image {
  width: 100%;
}

.banner-title {
  color: white;
  width: 100%;
  text-shadow: 2px 2px black;
  font-style: italic;
  position: absolute;
  bottom: 20px;
}

.text {
  margin: 0.75em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dragon-symbol {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dragon-image {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dragon-title {
  font-size: 1.5em;
}

.dragon-text {
  font-style: italic;
  font-size: 0.75em;
}

.goat-title {
  color: white;
  font-size: 1.5em;
}

.goat-symbol {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.goat-image {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.goat-text {
  color: white;
  font-size: 0.75em;
  font-style: italic;
}

.rooster-title {
  color: white;
  font-size: 1.5em;
}

.rooster-symbol {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rooster-image {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rooster-text {
  color: white;
  font-size: 0.75em;
  font-style: italic;
}

.ox-title {
  font-size: 1.5em;
}

.ox-symbol {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ox-image {
  width: 47%;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ox-text {
  font-size: 0.75em;
  font-style: italic;
}
